* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    padding: 18px 35px;
    cursor: pointer;
    border: 1px solid #FD6E0A;
}
.btn-primary:hover {
    border-radius: 5px;
    background: none;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    padding: 18px 35px;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 5px;
    color: #FD6E0A;
    background: none;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    padding: 18px 35px;
    margin-left: 20px;
    cursor: pointer;
}
.btn-secondary:hover {
    color: #FFF8F3;
    background: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.header {
    background: #FFF8F3;
    background-image: url(./images/header_bg.png), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
}

.profile-pic {
    width: 600px;
}

.banner-description {
    margin-bottom: 15px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
    margin-top: 185px;
}

.header-btn {
    margin-bottom: 15px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content {
    width: 500px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    margin: 30px 0px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    margin-bottom: 10px;
}

#do-description {
    padding: 30px 150px;

}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: white;
    border-radius: 5px;
    transition: transform 1.5s;
}

.skill:hover {
    background-color: #FD6E0A;
    transform: rotate(360deg) scale(1.2);

    .skill-description {
        color: black;
    }
}

.skill-description {
    color: #757575;
    margin-top: 20px;
}

.skill-title {
    margin-top: 10px;
}

.resume-column-title {
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-item-title {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;
}

.resume-item-description {
    color: #757575;
    font-size: 20px;
    margin-bottom: 30px;
}

.resume-item-institute {
    color: #757575;
    margin-top: 0px;
    margin-bottom: 20px;
}

.main-resume-title {
    margin-top: 130px;
    margin-bottom: 113px;
}

.btn-cv {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;
}

footer {
    display: flex;
    padding: 130px 200px;
    background: #FFF8F3;
    gap: 150px;
    align-items: center;
}

.footer-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input,
textarea {
    border-radius: 5px;
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border: none;
}

.social-links > a {
    margin-right: 25px;
}
.social-links > a :hover {
    transform: scale(1.5);
}

.social-links {
    margin-top: 30px;
}

@media screen and (max-width: 576px) {
    .about-info-container {
        flex-direction: column;
        gap: 20px;
    }

    footer {
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        background-image: none;
    }
    
    nav {
        display: none;
    }

    .profile-pic {
        display: none;
    }

    .banner {
        padding: 0px;
        margin: 0px;
        padding-bottom: 50px;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-title {
        font-size: 60px;
        text-align: center;
    }

    .banner-greeting {
        margin-top: 50px;
    }

    .banner-description {
        text-align: center;
    }

    .about {
        margin-top: 0px;
    }

    .skills-container {
        flex-direction: column;
        margin-top: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .resume-container {
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
    }

    .about {
        margin: 0px;
        margin-bottom: 30px;
        padding: 25px;
    }

    #do-description {
        padding-right: 75px;
        padding-left: 90px;
    }
    .skill:hover {
        background-color: #FD6E0A;
        transform: rotate(360deg);
    
        .skill-description {
            color: black;
        }
    }
    .btn-secondary {
        border-radius: 5px;
        color: #FD6E0A;
        background: none;
        border: 1px solid #FD6E0A;
        font-size: 20px;
        padding: 18px 35px;
        margin-left: 0px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1210px) {
    .about-info-container {
        flex-direction: row;
        gap: 20px;
    }
    .header {
        background: #FFF8F3;
        background-image: url(./images/header_bg.png);
        background-repeat: no-repeat;
        background-position: bottom right, left;
    }
    footer {
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .banner-title {
        font-size: 60px;
        /* text-align: center; */
    }

    .banner-greeting {
        margin-top: 50px;
    }

    .banner-description {
        text-align: left;
    }

    .about {
        margin-top: 0px;
    }

    .skills-container {
        flex-direction: column;
        margin-top: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .resume-container {
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
    }

    .about {
        margin: 0px;
        margin-bottom: 30px;
        padding: 25px;
    }

    #do-description {
        padding-right: 75px;
        padding-left: 90px;
    }
    .skill:hover {
        background-color: #FD6E0A;
        transform: rotate(360deg);
    
        .skill-description {
            color: black;
        }
    }
    .btn-secondary {
        border-radius: 5px;
        color: #FD6E0A;
        background: none;
        border: 1px solid #FD6E0A;
        font-size: 20px;
        padding: 18px 35px;
        margin-left: 0px;
        cursor: pointer;
    }
    .banner {
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1000px) {
    .about-info-container {
        flex-direction: row;
        gap: 20px;
    }
    .header {
        background: #FFF8F3;
        background-image: url(./images/header_bg.png);
        background-repeat: no-repeat;
        background-position: bottom right, left;
    }
    footer {
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    .skills-container {
        flex-direction: column;
        margin-top: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .resume-container {
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
    }

    .about {
        margin: 0px;
        margin-bottom: 30px;
        padding: 25px;
    }

    #do-description {
        padding-right: 75px;
        padding-left: 90px;
    }
    .skill:hover {
        background-color: #FD6E0A;
        transform: rotate(360deg);
    
        .skill-description {
            color: black;
        }
    }
    .btn-secondary {
        border-radius: 5px;
        color: #FD6E0A;
        background: none;
        border: 1px solid #FD6E0A;
        font-size: 20px;
        padding: 18px 35px;
        margin-left: 0px;
        cursor: pointer;
    }
    .banner {
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
}